.blr{


background-color: rgba(254, 254, 254, 0.863);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px); /* Diğer tarayıcılar için */
border-radius:10px ;
transform: skewY(-8deg);

}

.ttt{
    padding:0px 7px ;
    color: rgb(24, 49, 70);
    border-radius: 10px;
width: fit-content;
font-weight: 600;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all .5s;
    white-space:nowrap;
}


.ttt:hover{
    border: 1px solid rgba(242,203,0,1) ;
    background-color: rgba(246, 230, 5, 0.181);
    border-left: 10px solid rgba(242,203,0,1);
    transition: all .5s;
    white-space:nowrap;
}