@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.screen{
    background: rgb(55,255,209);
background: linear-gradient(340deg, rgba(20, 195, 0, 0.277) 16%, #f2ca00cb 81%);

}

